<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8"/>
      <script src="../js/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/menu.css"  />
<link rel="stylesheet" href="../css/join.css">
    <title></title>
  </head>
  <body>
    <div id="top">
        <h1 id="logo">DRESS HUB</h1>
        <ul class="topul">
          <li><a href="../login">LOGIN</a></li>
          <li><a href="../join">회원가입</a></li>
          <li><a href="cart.html">장바구니</a></li>
          <li><a href="mypage.html">MYPAGE</a></li>
        </ul>
  </div>
    <nav id="nav">
    <ul class="menu">
      <li><a class="category">전체카테고리</a> </li>
        <li><a id="clothes" class="name">캐쥬얼</a>
        <ul class="allcategory">
           <li><a href="#">남성</a></li>
           <li><a href="#">여성</a></li>
           <li><a href="#">신발</a></li>
           <li><a href="#">기타</a></li>
          </ul>
        </li>
        <li><a id="suit"  class="name">예복</a>
        <ul class="allcategory">
           <li><a href="#">경조사</a></li>
           <li><a href="#">면접</a></li>
           <li><a href="#">실생활</a></li>
           <li><a href="#">기타</a></li>
          </ul>
          </li>
        <li><a id="accessory"  class="name">악세사리</a>
        <ul class="allcategory">
           <li><a href="#">남성</a></li>
           <li><a href="#">여성</a></li>
           <li><a href="#">고가</a></li>
           <li><a href="#">특수한 경우</a></li>
          </ul>
          </li>
        <li><a >할인/기획</a>
          <ul class="allcategory">
             <li><a href="#">의류</a></li>
             <li><a href="#">악세사리</a></li>
             <li><a href="#">신발</a></li>
             <li><a href="#">기타</a></li>
            </ul>
        </li>
        <li><a href=#>MYPAGE</a></li>
    </ul>
  </nav>

  <!-- 회원가입 -->
  <div id="join">
    <h2>회원가입</h2><hr width="90%"/>
      <form method="post" name="inputForm" id="inputForm">
            <table id="joinTable">
                <tr>
                    <th>
                        <label for="name">이름
                    </th>
                    <td>
                        <input type="text" name="name" id="name" size="20%">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="id">아이디
                    </th>
                    <td>
                        <input type="text" name="id" id="id" size="20%">
                           *영문소문자/숫자, 4~16자
                    </th>
                </tr>
                <tr>
                    <th>
                        <label for="password">비밀번호
                    </th>
                    <td>
                        <input type="password" name="password" id="password" size="20%">
                        *영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="passwordCheck">비밀번호 확인
                    </th>
                    <td>
                        <input type="password" name="passwordCheck" id="passwordCheck" size="20%">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="email">이메일
                    </th>
                    <td>
                        <input type="text" name="email" id="email" size="30%">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="address">주소
                    </th>
                    <td>
                        <input type="text" name="address" id="address" size="100%">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="phoneNumber">연락처
                    </th>
                    <td>
                        <input type="text" name="phoneNumber" id="phoneNumber" size="10%">
                        <!--<input type="text" name="phone_number" id="phone_number" size="10%"> - -->
                        <!--<input type="text" name="phone_number" id="phone_number" size="10%">-->
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="nickname">닉네임
                    </th>
                    <td>
                        <input type="text" name="nickname" id="nickname" size="30%">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="introduce">자기소개
                    </th>
                    <td>
                        <textarea name="introduce" id="introduce"></textarea>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="open_private_info">정보공개여부
                    </th>
                    <td>
                        <input type="radio" id="agree" name="radio">동의함
                        <input type="radio" id="disagree" name="radio">동의하지 않음
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="certification">본인인증
                    </th>
                    <td>
                        처리해야함
                    </td>
                </tr>
            </table>
          <div id="Btn">
              <input type="submit" class="joinBtn" value="회원가입">
              <input type="button" class="cancle" value="취소하기">
          </div>
        </form>

              </div>
              <script src="../js/menu.js">
              </script>
              </body>
            </html>
