<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <script src="js/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="css/menu.css"/>
    <link rel="stylesheet" type="text/css "href="css/login.css"/>
    <title></title>
  </head>
  <body>
    <div id="top">
        <h1 id="logo">DRESS HUB</h1>
        <ul class="topul">
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/join">회원가입</a></li>
          <li><a href="cart.html">장바구니</a></li>
          <li><a href="mypage.html">MYPAGE</a></li>
        </ul>
  </div>
    <nav id="nav">
    <ul class="menu">
      <li><a class="category">전체카테고리</a> </li>
        <li><a id="clothes" class="name">캐쥬얼</a>
        <ul class="allcategory">
           <li><a href="#">남성</a></li>
           <li><a href="#">여성</a></li>
           <li><a href="#">신발</a></li>
           <li><a href="#">기타</a></li>
          </ul>
        </li>
        <li><a id="suit"  class="name">예복</a>
        <ul class="allcategory">
           <li><a href="#">경조사</a></li>
           <li><a href="#">면접</a></li>
           <li><a href="#">실생활</a></li>
           <li><a href="#">기타</a></li>
          </ul>
          </li>
        <li><a id="accessory"  class="name">악세사리</a>
        <ul class="allcategory">
           <li><a href="#">남성</a></li>
           <li><a href="#">여성</a></li>
           <li><a href="#">고가</a></li>
           <li><a href="#">특수한 경우</a></li>
          </ul>
          </li>
        <li><a >할인/기획</a>
          <ul class="allcategory">
             <li><a href="#">의류</a></li>
             <li><a href="#">악세사리</a></li>
             <li><a href="#">신발</a></li>
             <li><a href="#">기타</a></li>
            </ul>
        </li>
        <li><a href=#>MYPAGE</a></li>
    </ul>
  </nav>

<section class="container">
    <div class="login">
        <h1 class=h1_login>MEMBER LOGIN</h1>
      <form method="post" action="/loginCheck">
        <p><input class='id' type="text" name="id" value="" placeholder="  ID"></p>
        <p><input class='password' type="password" name="password" value="" placeholder="  Password"></p>
        <p ><input class="btn_login" type="submit" name="submit" value="LOGIN"></p>
      </form>
    </div>

    <div class="login_help">
            <ul class="topul">
              <li><a href=#>아이디/비밀번호찾기</a></li>
              <li><a href="/join">회원가입</a></li>
            </ul>
    </div>
  </section>
  <script src="js/menu.js">
  </script>
  </body>
</html>
