<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="../js/menu.js"></script>
    <link rel="stylesheet" href="../css/menu.css"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <title></title>
</head>
<body>
<div id="top">
    <h1 id="logo"><a href="/index.html">DRESS HUB</a></h1>
    <ul class="topul">
        <li><a href="../login">LOGIN</a></li>
        <li><a href="../join">회원가입</a></li>
    </ul>
</div>
<nav id="nav">
    <ul class="menu">
      <li><a class="category">전체카테고리</a> </li>
        <li><a id="clothes" class="name" href="productList?category=10">캐쥬얼</a>
        <ul class="allcategory">
           <li><a href="productList?category=11">남성</a></li>
           <li><a href="productList?category=12">여성</a></li>
           <li><a href="productList?category=13">신발</a></li>
           <li><a href="productList?category=14">기타</a></li>
          </ul>
        </li>
        <li><a id="suit"  class="name" href="productList?category=20">예복</a>
        <ul class="allcategory">
           <li><a href="productList?category=21">경조사</a></li>
           <li><a href="productList?category=22">면접</a></li>
           <li><a href="productList?category=23">실생활</a></li>
           <li><a href="productList?category=24">기타</a></li>
          </ul>
          </li>
        <li><a id="accessory"  class="name" href="productList?category=30">악세사리</a>
        <ul class="allcategory">
           <li><a href="productList?category=31">남성</a></li>
           <li><a href="productList?category=32">여성</a></li>
           <li><a href="productList?category=33">고가</a></li>
           <li><a href="productList?category=34">특수한 경우</a></li>
          </ul>
          </li>
        <li><a href="productList?category=40">할인/기획</a>
          <ul class="allcategory">
             <li><a href="productList?category=41">의류</a></li>
             <li><a href="productList?category=42">악세사리</a></li>
             <li><a href="productList?category=43">신발</a></li>
             <li><a href="productList?category=44">기타</a></li>
            </ul>
        </li>
        <li><a href=#>MYPAGE</a></li>
    </ul>
  </nav>

<section class="container">
    <div class="login">
        <h1 class=h1_login>MEMBER LOGIN</h1>
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                아이디 혹은 비밀번호를 확인해주세요.
            </div>
        </div>
        <div th:if="${param.logout}">
            <div class="alert alert-info">
                로그아웃이 완료되었습니다.
            </div>
        </div>
        <div th:if="${param.duplicate}">
            <div class="alert alert-info">
                다른 기기에서 접속이 발생하여 로그아웃 되었습니다.
            </div>
        </div>
        <form method="post" th:action="@{/api/login}"  >
            <!--<input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <p><input class='id' type="text" name="uid" value="" placeholder="  ID"></p>
            <p><input class='password' type="password" name="password" value="" placeholder="  Password"></p>
            <p ><input class="btn_login" type="submit" name="submit" value="LOGIN"></p>
        </form>
    </div>

    <div class="login_help">
        <ul class="topul">
            <li><a href=#>아이디/비밀번호찾기</a></li>
            <li><a href="../join">회원가입</a></li>
        </ul>
    </div>
</section>
<script src="../js/menu.js">
</script>
</body>
</html>