<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
      <script th:src="@{/js/menu.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"  />
    <link rel="stylesheet" th:href="@{/css/productList.css}">
    <title></title>
  </head>
  <body>
    <div id="top">
        <h1 id="logo"><a href="/index.html">DRESS HUB</a></h1>
        <ul class="topul">
          <li><a href="login.html">LOGIN</a></li>
          <li><a href="login.html">회원가입</a></li>
        </ul>
  </div>
    <nav id="nav">
    <ul class="menu">
      <li><a class="category">전체카테고리</a> </li>
        <li><a id="clothes" class="name" href="productList?category=10">캐쥬얼</a>
        <ul class="allcategory">
           <li><a href="productList?category=11">남성</a></li>
           <li><a href="productList?category=12">여성</a></li>
           <li><a href="productList?category=13">신발</a></li>
           <li><a href="productList?category=14">기타</a></li>
          </ul>
        </li>
        <li><a id="suit"  class="name" href="productList?category=20">예복</a>
        <ul class="allcategory">
           <li><a href="productList?category=21">경조사</a></li>
           <li><a href="productList?category=22">면접</a></li>
           <li><a href="productList?category=23">실생활</a></li>
           <li><a href="productList?category=24">기타</a></li>
          </ul>
          </li>
        <li><a id="accessory"  class="name" href="productList?category=30">악세사리</a>
        <ul class="allcategory">
           <li><a href="productList?category=31">남성</a></li>
           <li><a href="productList?category=32">여성</a></li>
           <li><a href="productList?category=33">고가</a></li>
           <li><a href="productList?category=34">특수한 경우</a></li>
          </ul>
          </li>
        <li><a href="productList?category=40">할인/기획</a>
          <ul class="allcategory">
             <li><a href="productList?category=41">의류</a></li>
             <li><a href="productList?category=42">악세사리</a></li>
             <li><a href="productList?category=43">신발</a></li>
             <li><a href="productList?category=44">기타</a></li>
            </ul>
        </li>
        <li><a href=#>MYPAGE</a></li>
    </ul>
  </nav>

<!-- 상품목록 -->

  <div class="product_wrap">
    <!-- <div class="product_container"></div> -->
      <div class="product_container_content"></div>
    </div>


      <!-- 퀵메뉴 -->
      <aside class="quick-menu-area">
        <!-- <h3>  TOP MENU</h3> -->
        <a href="#" >
          <img th:src="@{/image/recently.png}" alt="최근본상품" >
        </a>
        <a href="./cart.html" >
           <img th:src="@{/image/cart.png}" alt="장바구니" >
         </a>
        <a href="./addProduct.html" >
           <img th:src="@{/image/add.png}" alt="상품등록" >
         </a>
        <a href="./inquire.html" >
           <img th:src="@{/image/contact.png}" alt="문의하기" >
         </a>
      </aside>

      <!-- 페이징 -->
      <div id="test"></div>

      <div id="paging"></div>
    
    <script th:inline="javascript" type="text/javascript">
        var categoryCode = [[${category}]];

    </script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/ajaxData.js}"></script>
    <script th:src="@{/js/getCookie.js}"></script>
    <script th:src="@{/js/menu.js}"></script>


    <script th:inline="javascript" th:src="@{/js/productList.js}"></script>


  </body>
</html>
