.header_name{
  margin: 2rem;
}
#cart_table{
   border-collapse: collapse;
   width: 90%;
   margin: 2% auto;
}

#cart_table th, td{
  border: 1px solid #ddd;
  height: 2rem;
}
.removeBtn{
  margin-left: 4rem;
}
.removeBtn button{
  background-color: #fff;
  border:1px solid #ddd;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

#total_price_table{
  border-collapse: collapse;
  width: 90%;
  margin: 2%   auto;
}
#total_price_table th, td{
  border: 1px solid #ddd;
  height: 2rem;
}

#total_price_table th{
  background-color: #F7F9FF;
}
.order{
  background-color: #363636;
   border: none;
   color: white;
   padding: 1% 2%;
   margin: 1%;
   text-align: center;
   text-decoration: none;
   font-size: 10px;

}
.cancle{
  background-color: #9B9B9B;
   border: none;
   color: white;
   padding: 1% 2%;
   text-align: center;
   text-decoration: none;
   font-size: 10px;
}

#btn{
  text-align: center;
}
