.flexcenter {
	display: flex;
	justify-content: center;
}

.hidd {
	display: none;
}

#product-details > * {	
	margin: 0;
}

#product-details {
	width: 90%;
	margin: 0 auto;

}

#product-details .header {
	margin : 3em 0 4em 0;
}
#product-details .header .title {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 0.5em;
	font-size:2.5em;
}


.page-head-category > a{
	text-decoration: none;
}

.page-head-category .text {
	color : black;	
	font-size: 1.3em;
	padding : 0 0.4em;
	font-weight: 550;
}

#product-details .order-area {
	width: 90%;
	margin: 0 auto;
	display: flex;
}

#product-details .order-area .image-area {
	

}

#product-details .order-area .image-area .cloud-zoom {
	margin-bottom : 2em;
}

#product-details .order-area .image-area .thumnamil-bar{
	display: flex;
}
#product-details .order-area .image-area .cloud-zoom-gallery{
	display: flex;
	flex-grow: 1; 
	justify-content: center;
}

#product-details .order-area .image-area .thumnail-img{
	border:1px outset #bfbfbf;
}

#product-details .order-area .info-area {
	flex-grow: 1;
	/*border:1px solid red;*/
	margin-left: 6%;
}


#product-details .order-area .info-area .title {
	display: inline-block;
	width: 40%;
	font-size: 1.4em;
	font-weight: 600;
}

#product-details .order-area .info-area .info {
	font-size: 1.4em;
}


#product-details .body {
	width:90%;
}


#product-details .article-area .body p {
	font-size: 1.2em;
}

#product-details .info-area .group {
	border-bottom: 1px solid #bfbfbf;
	padding: 1em 0;
}

#product-details .info-area .group div {
	padding: 1em 0;
}


#product-details .price .lime-txt {
	font-size: 2.5em;
	font-weight: 600;
	color: #b5e61d;
}

#product-details .price .orange-txt {
	font-size: 2.5em;
	font-weight: 600;
	color: orange;
}

#product-details .info-area .submit-btn {
	margin: 5em 0;
	display: flex;
	justify-content: center;
}

#product-details .info-area .submit-btn > button {
	display: inline-block;
	width: 200px;
	height: 70px;
	margin: 0 5%;
	background-color: black;
	color: white;
	font-size: 1.4em;
	font-weight: 600;
	border: none;
}

.review-area {
	padding-bottom: 80px;
}

.review-area body {
	width: 80%;
}


.review-table-wrap * {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.review-btn-wrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.review-write-btn {
	border-radius: 10px;
	border: 1px solid #00ab33;
	background-color: #00ab33;
	padding: 7px 15px;
	color: white;
	font-weight: 600;
}

.review-table {
	width: 100%;
}

.review-table td, .review-table th {
	padding: 10px;
	margin: 0 auto;
	font-size: 1.2em;
}

.review-table th {
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
	
}

.review-table td {
	text-align: center;
}

.review-head td {
	cursor: pointer;
}

.review-table .th-no {
	width:10%;
}
.review-table .th-rank {
	width: 10%;
}

.review-table .th-title {
	
}
.review-table .th-day {
	width: 20%;
}

.review-body img, p {
	text-align: left;
	padding:10px;
}

.review-body img {
	max-width: 100%;
}



