
.flexcenter {
	display: flex;
	justify-content: center;
}

.flexcenter-align {
	display: flex;
	align-items: center;
}

.hidd {
	display: none;
}

#product-details > * {	
	margin: 0;
}

#product-details {
	width: 70%;
	margin: 0 auto;

}

#product-details .header {
	margin : 3em 0 4em 0;
}
#product-details .header .title {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 0.5em;
	font-size:2.5em;
}


.page-head-category > a{
	text-decoration: none;
}

.page-head-category .text {
	color : black;	
	font-size: 1.3em;
	padding : 0 0.4em;
	font-weight: 550;
}

#product-details .order-area {
	width: 90%;
	margin: 0 auto;
	display: flex;
	/*media query*/
}

#product-details .order-area .image-area .cloud-zoom {
	margin-bottom : 2em;
	width: 60%;
}

#product-details .order-area .image-area .thumnamil-bar{
	display: flex;
}
#product-details .order-area .image-area .cloud-zoom-gallery{
	display: flex;
	flex-grow: 1; 
	justify-content: center;
}

#product-details .order-area .image-area .thumnail-img{
	border:1px outset #bfbfbf;
}

#product-details .order-area .info-area {
	flex-grow: 1;
	/*border:1px solid red;*/
	margin-left: 6%;
}


#product-details .order-area .info-area .title {
	display: inline-block;
	width: 40%;
	font-size: 1.4em;
	font-weight: 600;
}

#product-details .order-area .info-area .info {
	font-size: 1.4em;
}


#product-details .body {
	width:90%;
}


#product-details .article-area .body p {
	font-size: 1.2em;
}

#product-details .info-area .group {
	border-bottom: 1px solid #bfbfbf;
	padding: 1em 0;
}

#product-details .info-area .group div {
	padding: 1em 0;
}


#product-details .price .lime-txt {
	font-size: 2.5em;
	font-weight: 600;
	color: #b5e61d;
}

#product-details .price .orange-txt {
	font-size: 2.5em;
	font-weight: 600;
	color: orange;
}

#product-details .info-area .submit-btn {
	margin: 5em 0;
	display: flex;
	justify-content: center;
}

#product-details .info-area .submit-btn > button {
	display: inline-block;
	width: 200px;
	height: 70px;
	margin: 0 5%;
	background-color: black;
	color: white;
	font-size: 1.4em;
	font-weight: 600;
	border: none;
}

.review-area {
	padding-bottom: 80px;
	
}

.review-area body {
	width: 80%;
}


.review-table-wrap * {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.review-btn-wrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.review-btn-wrap>form {
	width:10%;
}

.review-btn {
	border-radius: 10px;
	border: 1px solid #00ab33;
	background-color: #00ab33;
	padding: 7px 15px;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
.review-btn:hover {
	background-color: #4CAF89;
}

.review-body-btn {
	margin: 0 1%;
}


.review-table {
	width: 100%;
}

.review-head {
	display: flex;
}

.review-head > div, .th-group * {
	padding: 10px;
	text-align: center;
	font-size: 1.3em;
}

.th-group {
	border: 1px solid gray;
	text-align: center;
	font-weight:600;
	box-shadow: 2px 1px 1px grey;
	background-color: #f5f3f3;
}


.review-head {
	cursor: pointer;
}

.review-table .th-no, .review-table .td-no  {
	width:10%;
}
.review-table .th-rank, .review-table .td-rank {
	width: 10%;
}

.review-table .th-title, .review-table .td-title{
	width:60%;
}
.review-table .th-day, .review-table .td-day {
	width: 20%;
}

.review-head {
	background-color: #f8f7fc;
	border: 1px solid #bfbfbf;
	padding:1% 0%;
}

.td-group {
	border: 1px solid #bfbfbf;
	border-style: collapse;
}

.td-group .loading img {
	margin: 100px 0;
	width: 100px;
	height: 100px;
}

.td-group .review-body {
	padding: 3% 4%;
	border-bottom: 2px double #bfbfbf;
}

.review-body img, p {
	text-align: left;
	padding:10px;
	font-size: 0.8rem;
}

.review-body img {
	max-width: 100%;
}




