.review-area {
	padding-bottom: 80px;
	
}

.review-area body {
	width: 80%;
}


.review-table-wrap * {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.review-btn-wrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.review-btn-wrap>form {
	width:10%;
}

.review-btn {
	border-radius: 10px;
	border: 1px solid #00ab33;
	background-color: #00ab33;
	padding: 7px 15px;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
.review-btn:hover {
	background-color: #4CAF89;
}

.review-body-btn {
	margin: 0 1%;
}


.review-table {
	width: 100%;
}

.review-head {
	display: flex;
}

.review-head > div, .th-group * {
	padding: 10px;
	text-align: center;
	font-size: 1.3em;
}

.th-group {
	border: 1px solid gray;
	text-align: center;
	font-weight:600;
	box-shadow: 2px 1px 1px grey;
	background-color: #f5f3f3;
}


.review-head {
	cursor: pointer;
}

.review-table .th-no, .review-table .td-no  {
	width:10%;
}
.review-table .th-rank, .review-table .td-rank {
	width: 10%;
}

.review-table .th-title, .review-table .td-title{
	width:60%;
}
.review-table .th-day, .review-table .td-day {
	width: 20%;
}

.review-head {
	background-color: #f8f7fc;
	border: 1px solid #bfbfbf;
	padding:1% 0%;
}

.td-group {
	border: 1px solid #bfbfbf;
	border-style: collapse;
}

.td-group .loading img {
	margin: 100px 0;
	width: 100px;
	height: 100px;
}

.td-group .review-body {
	padding: 3% 4%;
	border-bottom: 2px double #bfbfbf;
}


.review-date-info {
	width: 40%;
	min-width: 260px;
	overflow: hidden;
	margin-bottom: 20px;
}

.review-date-info > * {
	width:100%;
	display:flex;
	align-items: center;
}

.review-date-info > * > .title{
	width: 20%;
}

.review-date-info > * > .content{
	flex-grow: 1;
}



.review-date-info > * > *{
	border:1px solid grey;
	border-style:collapse;
	font-size: 0.8rem;
	padding:5px;
	text-align:center;
}



.review-body img, p {
	text-align: left;
	padding:10px;
	font-size: 0.8rem;
}

.review-body img {
	max-width: 100%;
}

.review-pagination {
	margin-top:20px;
}