<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="result" method="post">
    <input name="visitTime" type="number" id="visitTime" placeholder="제주 방문 횟수" onkeydown="return showKeyCode(event)"/>
    <br>
    <input name="stayDuration" type="number" id="stayDuration" placeholder="체류기간"
           onkeydown="return showKeyCode(event)"/>
    <br>
    <select name="primeReason" id="primeReason">
        <option value="guide">이번 여행의 주 목적</option>
        <option value="1">휴가/휴양 여행</option>
        <option value="2">축제 및 이벤트</option>
        <option value="3">학생</option>
        <option value="4">신혼여행</option>
        <option value="5">도보여행</option>
        <option value="6">사업 또는 회의참가</option>
        <option value="7">컨벤션/세미나 참가</option>
        <option value="8">직장 인센티브 여행</option>
        <option value="9">산업시찰여행</option>
        <option value="10">친구/ 친지 방문</option>
        <option value="11">종교 및 순례</option>
        <option value="12">건강 및 치료</option>
        <option value="13">교육여행</option>
    </select>
    <br>
    <select name="considerReason1" id="considerReason1">
        <option value="guide">여행지를 제주로 선택한 요인1</option>
        <option value="1">자연경관 감상</option>
        <option value="2">휴가/휴양 여행</option>
        <option value="3">역사/문화체험</option>
        <option value="4">음식/ 미식탐방</option>
        <option value="5">쇼핑</option>
        <option value="6">기후/ 사계절</option>
        <option value="7">여행비용</option>
        <option value="8">가까운 거리</option>
        <option value="9">안전, 치안</option>
        <option value="10">한류 관광지 방문</option>
        <option value="11">테마파크</option>
    </select>
    <br>
    <select name="considerReason2" id="considerReason2">
        <option value="guide">여행지를 제주로 선택한 요인2</option>
        <option value="1">자연경관 감상</option>
        <option value="2">휴가/휴양 여행</option>
        <option value="3">역사/문화체험</option>
        <option value="4">음식/ 미식탐방</option>
        <option value="5">쇼핑</option>
        <option value="6">기후/ 사계절</option>
        <option value="7">여행비용</option>
        <option value="8">가까운 거리</option>
        <option value="9">안전, 치안</option>
        <option value="10">한류 관광지 방문</option>
        <option value="11">테마파크</option>
    </select>
    <br>
    <select name="infoGet" id="infoGet">
        <option value="guide">정보습득방법</option>
        <option value="1">여행사</option>
        <option value="2">친지, 친구, 동료</option>
        <option value="3">인터넷 정보검색</option>
        <option value="4">관광안내책자</option>
        <option value="5">신문, 잡지, 전문서적</option>
        <option value="6">TV, 라디오</option>
        <option value="7">여행비용</option>
        <option value="8">과거 여행 경험</option>
        <option value="9">도내 기관(도청, 관광공사 등)</option>
    </select>
    <br>
    <select name="companion" id="companion">
        <option value="guide">여행 동반자 유형</option>
        <option value="1">혼자왔음</option>
        <option value="2">부부, 연인</option>
        <option value="3">가족, 친척</option>
        <option value="4">직장동료</option>
        <option value="5">친구</option>
        <option value="6">친목</option>
    </select>
    <input name="numOfCompanion" type="number" id="numOfCompanion" placeholder="동반자 수"
           onkeydown="return showKeyCode(event)"/>
    <br>
    <select name="accomodation" id="accomodation">
        <option value="guide">숙박유형</option>
        <option value="1">호텔</option>
        <option value="2">모텔/호스텔</option>
        <option value="3">게스트하우스</option>
        <option value="4">펜션</option>
        <option value="5">콘도/리조트</option>
        <option value="6">숙박하지않음</option>
    </select>
    <br>
    <select name="transportation" id="transportation">
        <option value="guide">주 교통수단</option>
        <option value="1">렌터카</option>
        <option value="2">대절택시/가이드동반차량</option>
        <option value="3">대중교통: 버스/택시</option>
        <option value="4">전세버스</option>
        <option value="5">시티투어버스</option>
        <option value="6">자전거/오토바이</option>
    </select>
    <br>
    <select name="tripType" id="tripType">
        <option value="guide">여행종류</option>
        <option value="1">개별여행</option>
        <option value="2">패키지여행</option>
        <option value="3">여행사를 통한 AIR-TEL</option>
    </select>
    <input type="hidden" name="id" id="userid" value="xxx" style="display:none"/>
    <input type="submit">
</form>
<script tyoe="text/javascript" src="javascipt/poll.js"></script>
<script  type="text/javascript">
    function showKeyCode(event) {
event = event || window.event;
var keyID = (event.which) ? event.which : event.keyCode;
if(( keyID >=48 && keyID <= 57 ) || ( keyID >=96 && keyID <= 105 ) || ( keyID >= 37 && keyID <= 40 ) ||keyID === 8 || keyID === 46){
          // document.getElementById("keyinfo").innerHTML = keyID;
          return keyID;
        }
        else
        {
          // document.getElementById("keyinfo").innerHTML = keyID + " = 숫자만 입력해주세요";
          return false;
        }

}

var primeReason = document.getElementById("primeReason");



var getParameters = function (paramName) {
    // 리턴값을 위한 변수 선언
    var returnValue;

    // 현재 URL 가져오기
    var url = location.href;

    // get 파라미터 값을 가져올 수 있는 ? 를 기점으로 slice 한 후 split 으로 나눔
    var parameters = (url.slice(url.indexOf('?') + 1, url.length)).split('&');

    // 나누어진 값의 비교를 통해 paramName 으로 요청된 데이터의 값만 return
    for (var i = 0; i < parameters.length; i++) {
        var varName = parameters[i].split('=')[0];
        if (varName.toUpperCase() == paramName.toUpperCase()) {
            returnValue = parameters[i].split('=')[1];
            return decodeURIComponent(returnValue);
        }
    }
};

var userid = getParameters("id");

var id = document.getElementById("userid");
id.setAttribute("value", userid);
id.innerHTML = userid;
console.log(id.getAttribute("value"));

</script>
</body>
</html>
