#addProduct h2{
    margin-left: 10%;
    margin-top: 2%;
}

table{
    border-collapse: collapse;
    width: 80%;
    height: 50%;
    padding:10%;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #eee;
    padding:1%;
}
table th{
    background-color: #F7F9FF;
    width: 10%;
}
table input{
    height: 100%;
    border:1px solid #eee;
}
#Btn{
    text-align: center;
}
.addBtn{
    background-color: #363636;
    border: none;
    color: white;
    padding: 1% 2%;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.cancle{
    background-color: #9B9B9B;
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}

input[type=text]{
    height: 1.5rem;
}
select{
    height: 1.5rem;
    width: 30%;
}
input[type=date]{
    height: 1.5rem;
    width: 30%;
}
#contents{
    width: 100%;
    min-height: 10rem;
}