@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


* {
	margin: 0;
	font-family: 'Nanum Gothic', arial, sans-serif;
}


.card_carousel_wrap{
	/*requre media query */
	width:85%;
}

.card_carousel_header, .card_carousel_container, .card_carousel_container_content{
	display: flex;
	flex-direction: row;
}

.card_carousel_header{
	margin-bottom: 40px;
}

.card_carousel_header_title{
	flex-grow: 11;
	flex-shrink: 1;
	margin-left: 10%;
}

.card_carousel_header_more{
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_carousel_header_more_text {
	color:gray;
	text-decoration: none;
}

.card_carousel_header_more_text:hover {
	color: black;
	font-weight: bold;
	transition: all 0.5s;
}

.card_carousel_slide_btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.card_carousel_slide_btn .btn_left,.card_carousel_slide_btn .btn_right{
	border: none;
	cursor: pointer;
	width:34px;
	height: 48px;

}

.card_carousel_slide_btn .btn_left{
	background: url("../image/carousel_btn_left.png") no-repeat;
}
.card_carousel_slide_btn .btn_right{
	background: url("../image/carousel_btn_right.png") no-repeat;

}

.hidden{
	visibility: hidden;
}

.card_carousel_container_content{
	flex-grow: 1;
}

.card_carousel_container_content_card{
	flex-grow: 1;
	border:2px solid #e1e1e1;
	margin-right: 25px;
	text-decoration: none;
	color:black;
	width: 180px;
}
.card_carousel_container_content_card:nth-child(1){
	margin-left: 25px;
}

.card_img_wrap{
	height: 180px;
}
.card_img{
	width:100%;
	height:100%;
	margin:0 auto;
}

.card_text_wrap{
	padding:0.9rem;

}

.card_text_wrap .text_category{
	font-size: 0.8rem;
	color: gray;
}

.card_text_wrap .text_title{
	font-size: 1.0rem;
	padding:0.7rem 0rem;
	font-weight: 700;
}

.card_text_wrap .text_price{
	margin-bottom: 0.7rem;
}

.card_text_wrap .text_location{
	font-size: 0.9rem;
}

/* 메인캐러셀 */

.carousel {
  position: relative;
  width: 90%;
  height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
  overflow: hidden;
	margin-top:1%;
}

.carousel-wrapper {
  width: 400%;
  height: 70vh;
  transition: all 0.4s ease-in-out;
}

.carousel-wrapper::after {
  content: '';
  display: block;
  clear: left;
}

.carousel-item {
  float: left;
  width: 25%;
	height: 70vh;
}
.carousel-item:nth-child(1) { background-image: url("../image/gal-ot.jpg"); background-size: contain; background-repeat: no-repeat;}
.carousel-item:nth-child(2) { background-image: url("../image/snorkel.jpg"); background-size: contain;background-repeat: no-repeat;}
.carousel-item:nth-child(3) { background-image: url("../image/tube.jpg"); background-size: contain;background-repeat: no-repeat;}
.carousel-item:nth-child(4) { background-image: url("../image/skate.jpg"); background-size: contain;background-repeat: no-repeat;}

.btn-container {
  position: absolute;
  top: 30px;
  left: 30px;
}
