
#my-main article > header {
	display: block;
}

#my-main article > header > p {
	color: gray;
	width:60%;

}

#nav-tab {
	width: 100%;
	margin: 10px 0 20px 0;
	display: flex;
}

#nav-tab > .head-space, #nav-tab > .head-space {
	align-items: baseline;
}

#nav-tab > .head-space {
	flex-basis: 8%;
	border-bottom: 1px solid #999;
}

#nav-tab > .tail-space {
	flex-grow: 1;
	border-bottom: 1px solid #999;
}

#nav-tab > ul {
	padding:0;
	display: flex;
	list-style: none;
	margin-bottom: 0px;
	align-items: baseline;
}

#nav-tab > ul > li {
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 10px;
	cursor:pointer;
}

#nav-tab > ul > li:hover {
	border: 1px solid #797979;
	border-bottom: none;
	border-top: 5px solid black;
	font-size: 120%;
}

#nav-tab .active {
	border: 1px solid #797979;
	border-bottom: none;
	border-top: 5px solid black;
	font-size: 120%;
}


.go-top {
	position: fixed;
	right: 4%;
	bottom: 4%;
	border: none;
	cursor: pointer;
	width:45px;
	height: 32px;
	background:no-repeat;
	background-image: url("../image/go-top.png");
	background-size: 100%;
	border: 2px solid #aaa;
}

#content h1 {
	font-size:1.3rem;
}

#content img {
	width:100%;
	height: auto;
}
