<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="container">
        <div class="foota">
            <h2>DRESS HUB</h2>
            <p>&copy; New One</p>
        </div>

        <div class="footb">
            <div>
                <h3>ABOUT</h3>
                <ul>
                    <li>설립</li>
                    <li>주소</li>
                    <li>지도</li>
                    <li>스태프</li>
                </ul>
            </div>
            <div>
                <h3>SUPPORT</h3>
                <ul>
                    <li>다운로드</li>
                    <li>매뉴얼</li>
                    <li>자주 묻는 질문</li>
                    <li>문의</li>
                </ul>
            </div>
            <div>
                <h3>CONTENTS</h3>
                <ul>
                    <li>공지사항</li>
                    <li>비즈니스</li>
                    <li>프로필</li>
                    <li>스태프</li>
                </ul>
            </div>
        </div>
    </div>
</footer>