<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment="header">
    <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
        <link rel="stylesheet" th:href="@{/css/carousel.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title>Dresshub - 날개를 바꾸다</title>
        <th:block layout:fragment="css"></th:block>
    </head>
</html>

