<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
    <th:block th:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
        <link rel="stylesheet" th:href="@{/css/carousel.css}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/productList.css}">
    <link rel="stylesheet" th:href="@{/css/addProduct.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/product_detail.css}">
</head>
</html>
